@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-bg-primary: #3C9AF0;
  --color-bg-secondary: #FFFFFF;
  --color-bg-terciary: #D9D9D9;
  --color-bg-quartiary: #C8C8C8;

  --color-font-primary: #FFFFFF;
  --color-font-secondary: #5E5E5E;
  --color-font-terciary: #3C9AF0;

  --color-bord-primary: #3C9AF0;
}



